  
  <h1>New addition</h1>
  <form action="/wizard_add">
  <label for="FirstAdd">Add this:</label>
  <input id="FirstAdd" name="num1add">
  <label for="SecondAdd">to this:</label>
  <input id="SecondAdd" name="num2add">
  <button>Add!</button>
  </form>
