  
  <h1>New multiplication</h1>
  <form action="/wizard_multiply">
  <label for="FirstAdd">Multiply this:</label>
  <input id="FirstAdd" name="num1">
  <label for="SecondAdd">by this:</label>
  <input id="SecondAdd" name="num2">
  <button>Multiply!</button>
  </form>
